.flex-column {
  flex-direction: column;
}

.register {
  min-height: 65vh;
  display: flex;
  background-color: #FFEED1;
}

.footer {
  min-height: 35vh;
  display: flex;
  background-color: #111118;
  text-align: center;
}

.footer img {
  max-width: 87px;
  margin-bottom: 24px;
}

.button {
  border: solid 2px #FFEED1;
  line-height: 1;
  padding: 6px 12px;
  min-width: 120px;
  text-align: center;
  text-decoration: none;
  color: #FFEED1;
}
